# Time representation in `Pyleoclim`

## Load test data

In [1]:
%load_ext autoreload
%autoreload 2
    
import pyleoclim as pyleo
import scipy.io as sio
import numpy as np

data = sio.loadmat('../example_data/wtc_test_data_nino.mat')
air = data['air'][:, 0]
nino = data['nino'][:, 0]
t = data['datayear'][:, 0]

## Define `Series`

In [2]:
ts_air = pyleo.Series(time=t, value=air, time_unit='year', value_name='air')
ts_nino = pyleo.Series(time=t, value=nino, time_unit='year', value_name='nino')

## Test conversion to different target units

Currently supported time units include:
            {
                'year', 'years', 'yr', 'yrs',
                'y BP', yr BP', 'yrs BP', 'year BP', 'years BP',
                'ky BP', 'kyr BP', 'kyrs BP', 'ka BP', 'ka',
                'my BP', 'myr BP', 'myrs BP', 'ma BP', 'ma',
            }

In [3]:
print('Original timeseries:')
print('time unit:', ts_air.time_unit)
print('time:', ts_air.time)
print()
new_ts_air = ts_air.convert_time_unit(time_unit='years')
print('Converted timeseries:')
print('time unit:', new_ts_air.time_unit)
print('time:', new_ts_air.time)
print('-------------------------------')

for tu in ['yrs BP', 'ky BP', 'my BP', 'ka', 'ma']:
    print('Original timeseries:')
    print('time unit:', ts_nino.time_unit)
    print('time:', ts_nino.time)
    print()
    new_ts_nino = ts_nino.convert_time_unit(time_unit=tu)
    print('Converted timeseries:')
    print('time unit:', new_ts_nino.time_unit)
    print('time:', new_ts_nino.time)
    print('-------------------------------')

Original timeseries:
time unit: year
time: [1871.   1871.08 1871.17 ... 2003.75 2003.83 2003.92]

Converted timeseries:
time unit: years
time: [1871.   1871.08 1871.17 ... 2003.75 2003.83 2003.92]
-------------------------------
Original timeseries:
time unit: year
time: [1871.   1871.08 1871.17 ... 2003.75 2003.83 2003.92]

The time axis has been adjusted to be ascending!
Converted timeseries:
time unit: yrs BP
time: [-53.92 -53.83 -53.75 ...  78.83  78.92  79.  ]
-------------------------------
Original timeseries:
time unit: year
time: [1871.   1871.08 1871.17 ... 2003.75 2003.83 2003.92]

The time axis has been adjusted to be ascending!
Converted timeseries:
time unit: ky BP
time: [-0.05392 -0.05383 -0.05375 ...  0.07883  0.07892  0.079  ]
-------------------------------
Original timeseries:
time unit: year
time: [1871.   1871.08 1871.17 ... 2003.75 2003.83 2003.92]

The time axis has been adjusted to be ascending!
Converted timeseries:
time unit: my BP
time: [-5.392e-05 -5.383e-05 -5.375e-05 ...  7.883e-05  7.892e-05  7.900e-05]
-------------------------------
Original timeseries:
time unit: year
time: [1871.   1871.08 1871.17 ... 2003.75 2003.83 2003.92]

The time axis has been adjusted to be ascending!
Converted timeseries:
time unit: ka
time: [-0.05392 -0.05383 -0.05375 ...  0.07883  0.07892  0.079  ]
-------------------------------
Original timeseries:
time unit: year
time: [1871.   1871.08 1871.17 ... 2003.75 2003.83 2003.92]

The time axis has been adjusted to be ascending!
Converted timeseries:
time unit: ma
time: [-5.392e-05 -5.383e-05 -5.375e-05 ...  7.883e-05  7.892e-05  7.900e-05]
-------------------------------

## Conversion in `MultipleSeries`

When define a `MultipleSeries`, the argument `time_unit` can be specified to convert the time unit for each `Series` in the list.
If `time_unit` is set to None as by default, the no conversion will be applied.

In [4]:
ms = pyleo.MultipleSeries([new_ts_air, new_ts_nino], time_unit=None)
print('Original timeseries:')
for ts in ms.series_list:
    print('value_name:', ts.value_name)
    print('time_unit:', ts.time_unit)
    print('time', ts.time)

Original timeseries:
value_name: air
time_unit: years
time [1871.   1871.08 1871.17 ... 2003.75 2003.83 2003.92]
value_name: nino
time_unit: ma
time [-5.392e-05 -5.383e-05 -5.375e-05 ...  7.883e-05  7.892e-05  7.900e-05]

In [5]:
ms = pyleo.MultipleSeries([new_ts_air, new_ts_nino], time_unit='yrs BP')
print('Converted timeseries:')
for ts in ms.series_list:
    print('value_name:', ts.value_name)
    print('time_unit:', ts.time_unit)
    print('time', ts.time)

The time axis has been adjusted to be ascending!
Converted timeseries:
value_name: air
time_unit: yrs BP
time [-53.92 -53.83 -53.75 ...  78.83  78.92  79.  ]
value_name: nino
time_unit: yrs BP
time [-53.92 -53.83 -53.75 ...  78.83  78.92  79.  ]

In [6]:
ms = pyleo.MultipleSeries([new_ts_air, new_ts_nino], time_unit='years')
print('Converted timeseries:')
for ts in ms.series_list:
    print('value_name:', ts.value_name)
    print('time_unit:', ts.time_unit)
    print('time', ts.time)

The time axis has been adjusted to be ascending!
Converted timeseries:
value_name: air
time_unit: years
time [1871.   1871.08 1871.17 ... 2003.75 2003.83 2003.92]
value_name: nino
time_unit: years
time [1871.   1871.08 1871.17 ... 2003.75 2003.83 2003.92]

In [7]:
ms = pyleo.MultipleSeries([new_ts_air, new_ts_nino], time_unit='yr')
print('Converted timeseries:')
for ts in ms.series_list:
    print('value_name:', ts.value_name)
    print('time_unit:', ts.time_unit)
    print('time', ts.time)

The time axis has been adjusted to be ascending!
Converted timeseries:
value_name: air
time_unit: yr
time [1871.   1871.08 1871.17 ... 2003.75 2003.83 2003.92]
value_name: nino
time_unit: yr
time [1871.   1871.08 1871.17 ... 2003.75 2003.83 2003.92]

In [8]:
ms = pyleo.MultipleSeries([new_ts_air, new_ts_nino], time_unit='yr')
print('Converted timeseries:')
for ts in ms.series_list:
    print('value_name:', ts.value_name)
    print('time_unit:', ts.time_unit)
    print('time', ts.time)

The time axis has been adjusted to be ascending!
Converted timeseries:
value_name: air
time_unit: yr
time [1871.   1871.08 1871.17 ... 2003.75 2003.83 2003.92]
value_name: nino
time_unit: yr
time [1871.   1871.08 1871.17 ... 2003.75 2003.83 2003.92]

We can also do the conversion via the method of `MultipleSeries`.

In [9]:
new_ms = ms.convert_time_unit('yr BP')
for ts in new_ms.series_list:
    print('value_name:', ts.value_name)
    print('time_unit:', ts.time_unit)
    print('time', ts.time)

The time axis has been adjusted to be ascending!
The time axis has been adjusted to be ascending!
value_name: air
time_unit: yr BP
time [-53.92 -53.83 -53.75 ...  78.83  78.92  79.  ]
value_name: nino
time_unit: yr BP
time [-53.92 -53.83 -53.75 ...  78.83  78.92  79.  ]